
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1482918028279'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1482918028279#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1482918028279') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1482918028279') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1482918028279#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-goumaichenggong:before { content: "\e67c"; }

.icon-good:before { content: "\e624"; }

.icon-back:before { content: "\e600"; }

.icon-more:before { content: "\e679"; }

.icon-shoppingcart:before { content: "\e639"; }

.icon-rightarrow:before { content: "\e62d"; }

.icon-weixin:before { content: "\e659"; }

.icon-star:before { content: "\e633"; }

.icon-huizhang:before { content: "\e609"; }

.icon-close:before { content: "\e60f"; }

.icon-dizhi:before { content: "\e6bb"; }

.icon-qianbao:before { content: "\e621"; }

.icon-info:before { content: "\e635"; }

.icon-zhifubao:before { content: "\e7da"; }

.icon-fenlei:before { content: "\e612"; }

.icon-gouwu:before { content: "\e611"; }

.icon-xiazai:before { content: "\e613"; }

.icon-packet:before { content: "\e605"; }

.icon-code:before { content: "\e68a"; }

.icon-dingdanzhuangtai:before { content: "\e601"; }

.icon-gouwucheweikong:before { content: "\e7e3"; }

.icon-duihuan:before { content: "\e630"; }

.icon-setting:before { content: "\e634"; }

.icon-index:before { content: "\e636"; }

.icon-wenhao:before { content: "\e637"; }

.icon-fankui:before { content: "\e63a"; }

.icon-fanyifan:before { content: "\e63b"; }

.icon-usercenter:before { content: "\e63c"; }

.icon-junzhuanpeixun:before { content: "\e63d"; }

.icon-shizheng:before { content: "\e63e"; }

.icon-zaizhipeixun:before { content: "\e63f"; }

.icon-gongkaopeixun:before { content: "\e640"; }

