@charset "utf-8";

.adv-list-panel {
    
    .adv-list {
        background-color: $light;
    }

    .adv-item {
        padding: 12px 0;
        margin: 0 10px;
        background: superfine-border-bottom($line-color);

        &:last-child {
            background: none;
        }
    }

    .item-img {
        width: convert-rem(75px);
        height: convert-rem(75px);

        .img {
            width: 100%;
            height: convert-rem(75px);
            border-radius: 4px;
        }
    }

    .item-title {
        padding-left: 12px;
        line-height: 1.5em;
        color: $text-color;
        @extend %font-size-base;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
}