@charset "utf-8";

.checkout-modal-view {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: inherit;

    .checkout-consignee {
    	padding: 6px 12px 12px 12px;
    	color: $text-color;
        background: url(#{$images-path}/consignee-line-image.png) bottom left repeat-x $light;
        background-size: 78px 3px;

        .icon-dizhi {
            color: $text-color-secondary;
        }

        .icon-rightarrow {
            color: $text-color-quiet;
            font-weight: bold;
            @extend %font-size-base;
        }
    }

    .checkout-add-consignee {
        padding: 12px 0;
    }

    .checkout-congignee-icon {
        margin-top: 5px;
    }

    .consignee-info-name {
        line-height: 2em;
        color: $text-color;
        @extend %font-size-big;
    }

    .consignee-info-street {
        line-height: 1.5em;
        color: $text-color-secondary;
        @extend %font-size-base;
    }

    .checkout-items {
        margin: 8px 0;
        background-color: $light;
    }

    .items-title {
        padding: 8px 12px;
    	line-height: 1.5em;
        @extend %font-size-big;
        background: superfine-border-bottom($line-color);

        .iconfont {
            margin-right: 10px;
            font-size: 16px;
            color: #4a4a4a;
        }
    }

    .checkout-item {
        padding: 12px;
        padding-left: 0;
        margin-left: 12px;
        background: superfine-border-bottom($line-color);

        &:last-child {
            background: none;
        }
    }

    .item-img {
        width: convert-rem(75px);
        height: convert-rem(110px);

        .img {
            width: 100%;
            height: convert-rem(110px);
            border-radius: 4px;
        }
    }

    .item-info {
        margin-left: convert-rem(75px);
        padding-left: 12px;
    }

    .item-title {
        overflow: hidden;
        height: 1.5em;
        line-height: 1.5em;
        color: $text-color;
        @extend %font-size-big;
    }

    .item-content {
        height: 4.1em;
        margin: convert-rem(5px) 0 convert-rem(10px);
        line-height: 1.4em;
        color: $text-color-secondary;
        @extend %font-size-base;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .item-price {
        position: relative;

        .price {
            color: $energized;
        }

    	.numbers {
            position: absolute;
            right: 0;
            top: 0;
            color: $text-color-secondary;
        }
    }

    .checkout-rows {
        margin-bottom: 8px;
        background-color: $light;
    }

    .checkout-row {
        box-sizing: content-box;
        position: relative;
        padding: 8px 30px 8px 0px;
        margin-left: 12px;
        height: 2em;
        line-height: 2em;
        background: superfine-border-bottom($line-color);

        &:last-child {
            background: none;
        }
    }

    .checkout-row-title {
        float: left;
        @extend %font-size-big;
    }

    .checkout-row-content {
        float: right;
        color: $text-color-secondary;
        @extend %font-size-base;
    }

    .checkout-row-icon {
        position: absolute;
        right: 8px;
        top: 50%;
        height: 16px;
        line-height: 16px;
        margin-top: -8px;
        font-weight: bold;
        color: $text-color-quiet;
        @extend %font-size-base;
    }

    .checkout-amount {
    	color: $energized;

        .freight {
            color: $text-color-quiet;
            @extend %font-size-small;
        }
    }

    .checkout-row-payment {
        float: right;
        padding-left: 28px;
        background-repeat: no-repeat;
        background-size: 24px auto;
        background-position: left center;

        .iconfont {
            float: left;
            margin-right: 3px;
            font-size: 24px;
        }

        .icon-zhifubao {
            color: #1296DB;
        }

        .icon-weixin {
            color: #1aad19;
        }
    }

   .payment-item {
   		margin: 0;
        padding: 15px 8px 15px 12px;
        background: superfine-border-bottom($line-color);
        background-color: $light;

        .icon-zhifubao,
        .icon-weixin {
            padding: 0;
            font-size: 24px;
        }

        .icon-zhifubao {
            color: #1296DB;
        }

        .icon-weixin {
            color: #1aad19;
        }

        .payment-text {
            @extend %font-size-big;
            color: $text-color;
        }

        .icon-rightarrow {
            padding: 0;
            color: $text-color-quiet;
            font-weight: bold;
            @extend %font-size-base;
        }
    }
}

.checkout-info-footer {
    padding: 0;

    .footer-item {
        margin-top: 1px;
        padding: 0;
    }

    .button {
        height: 43px;
        min-height: 43px;
        padding: 0;
        margin: 0;
        line-height: 43px;
        font-size: 16px;
        border: none;
        border-radius: 0;
    }
}