@charset "utf-8";

.consignee-list-panel {

    .consignee-list {
        background-color: $light;
    }
    
    .consignee-item {
    	padding: 5px 12px 10px;
    	margin-bottom: 8px;
        background-color: $light;
    }

    .checkout-cosignee-item {
        margin-bottom: 0;
        margin-left: 12px;
        padding-left: 0;
        background: superfine-border-bottom($line-color);
        background-color: none;

        &:last-child {
            background: none;
        }
    }

    label.checkbox {
        margin-right: 5px;
        padding: 0;
    }

    .item-name {
		line-height: 2em;
		color: $text-color;
    	@extend %font-size-base;

    	.name {
    		overflow: hidden;
    		height: 2em;
    	}
    }

    .item-info {
        margin-bottom: 3px;
    	line-height: 1.5em;
    	color: $text-color-secondary;
    	@extend %font-size-small;
    }

    .item-btn {
        line-height: 1.5em;
        text-align: right;
        color: $text-color-quiet;
        @extend %font-size-base;

        .icon {
            padding: 8px;
            font-size: 16px;
        }

        span {
            padding-left: 5px;
            @extend %font-size-base;
        }
    }

    .item-edit {
        padding: 10px;

        .icon {
            font-size: 16px;
            color: $text-color-secondary;
        }
    }
}

// 收货人信息 - 底部新增
.consignee-footer {
    border-top: none;
    background-image: none;

    .button {
        margin: 0;
        font-size: 15px;
    }
}