@charset "utf-8";

.free-info-view {

    .banner {

        .img {
            display: block;
            width: 100%;
            height: convert-rem(150px);
        }
    }

    .video-content {
        top: convert-rem(190px);
    }

    .free-info-title {
        padding: 0 12px;
        line-height: 2em;
        font-size: 16px;
        color: $text-color;
        background-color: #fff;
    }

    .free-content {
        padding: 0 12px;
        line-height: 2em;
        font-size: 13px;
        color: $text-color-secondary;
        background-color: #fff;

        p {
            margin-bottom: 0;

            img {
                max-width: 100%;
            }
        }
    }
}