@charset "utf-8";

.order-info-panel {

    .order-info-top {
        margin-bottom: 8px;
        background-color: $light;
    }
    
    .order-status {
        padding: 0 12px;
        line-height: 3em;
        color: $text-color;
        background: superfine-border-bottom($line-color);
        @extend %font-size-big;

        .iconfont {
            margin-right: 5px;
            @extend %font-size-large;
        }

        .status {
            color: $primary-color;
        }
    }

    .order-info {
        padding: 12px;
        line-height: 1.5em;
        color: $text-color-quiet;
        @extend %font-size-small;

        .info {
            margin: 0;
        }

        .order-info-copy {
            position: relative;
        }

        .order-copy {
            position: absolute;
            right: 0;
            top: -5px;
            width: 30px;
            height: 20px;
            line-height: 18px;
            min-height: 20px;
            font-size: 12px;
        }
    }

    .order-steps {
        position: relative;
        padding: 10px 0;
        margin: 5px 0;

        .steps-line-bg {
            position: absolute;
            top: 39px;
            z-index: 1;
            height: 4px;
            background-color: #ddd;
        }

        .steps-line-bg-active {
            position: absolute;
            top: 39px;
            z-index: 10;
            height: 4px;
            background-color: $energized;
        }

        .steps-list {
            position: relative;
            z-index: 100;
        }

        .steps-item {
            float: left;
            text-align: center;
            color: $text-color-quiet;

            p {
                margin-bottom: 0;
            }

            .item-name {
                @extend %font-size-mini;
            }

            .item-node {
                width: 16px;
                height: 16px;
                padding: 4px;
                margin: 5px auto;
                background-color: #dcdcdc;
                border-radius: 50%;
            }

            .node-finished {
                background-color: lighten($energized, 30%);

                .step-active {
                    display: block;
                    width: 8px;
                    height: 8px;
                    background-color: $energized;
                    border-radius: 50%;
                }
            }

            .item-time {
                @extend %font-size-nano;
                line-height: 1.25em;
            }
        }
    }

    .normal-steps {

        .steps-line-bg {
            left: 10%;
            width: 80%;
        }

        .steps-line-bg-active {
            left: 10%;

            &.step-1-active {
                width: 0;
            }

            &.step-2-active {
                width: 20%;
            }

            &.step-3-active {
                width: 40%;
            }

            &.step-4-active {
                width: 60%;
            }

            &.step-5-active {
                width: 80%;
            }
        }

        .steps-item {
            width: 20%;
        }
    }

    .cancel-steps {

        .steps-line-bg {
            left: 25%;
            width: 50%;
        }

        .steps-line-bg-active {
            left: 25%;

            &.step-1-active {
                width: 0;
            }

            &.step-2-active {
                width: 50%;
            }
        }

        .steps-item {
            width: 50%;
        }
    }

    .order-consignee {
        padding: 12px;
        margin-bottom: 8px;
        background-color: $light;

        .iconfont {
            color: $text-color;
            @extend %font-size-large;
        }

        .consignee-name {
            margin-bottom: 10px;
            color: $text-color;
            @extend %font-size-big;
        }

        .name {
            overflow: hidden;
            float: left;
            max-width: 60%;
            height: 1.2em;
            margin-right: 20px;
        }

        .consignee-address {
            line-height: 1.3em;
            color: $text-color-quiet;
            @extend %font-size-base;
        }
    }

    .order-items {
        margin-bottom: 8px;
        background-color: $light;

        .items-title {
            padding: 0 12px;
            line-height: 3em;
            color: $text-color;
            @extend %font-size-big;
            background: superfine-border-bottom($line-color);
        }

        .iconfont {
            margin-right: 5px;
            @extend %font-size-large;
        }
    }

    .order-item {
        padding: 12px 0;
        margin: 0 12px;
        background: superfine-border-bottom($line-color);

        &:last-child {
            background: none;
        }

        .item-img {
            width: convert-rem(75px);
            height: convert-rem(110px);

            .img {
                width: 100%;
                height: convert-rem(110px);
                border-radius: 4px;
            }
        }

        .item-info {
            margin-left: convert-rem(75px);
            padding-left: 12px;
        }

        .item-name {
            overflow: hidden;
            height: 1.5em;
            line-height: 1.5em;
            color: $text-color;
            @extend %font-size-base;
        }

        .item-content {
            height: 2.7em;
            margin: convert-rem(5px) 0 convert-rem(10px);
            line-height: 1.4em;
            color: $text-color-secondary;
            @extend %font-size-small;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }

        .item-price {
            position: relative;
            overflow: hidden;
            line-height: 1.5em;
            color: $energized;
            @extend %font-size-small;

            .numbers {
                position: absolute;
                top: 0;
                right: 0;
                color: $text-color-secondary;
            }
        }
    }

    .order-row {
        margin-bottom: 8px;
        background-color: $light;

        .row {
            margin-bottom: 0;
        }

        .order-row-cont {
            padding-right: 12px;
            margin-left: 12px;
            line-height: 3em;
            background: superfine-border-bottom($line-color);

            &:last-child {
                background: none;
            }
        }

        .col-tit {
            padding-left: 0;
            @extend %font-size-big;
            color: $text-color-quiet;

            &.refund-tips {
                @extend %font-size-small;
            }
        }

        .col-txt {
            @extend %font-size-base;
            color: $text-color;
            text-align: right;

            .icon {
                color: $primary-color;
                font-size: 20px;
            }
        }

        .order-invoice-row-cont {
            padding: 8px 12px 8px 0;
            margin-left: 12px;
            background: superfine-border-bottom($line-color);
        }

        .order-invoice-row {
            overflow: hidden;
            margin-bottom: 0;
            line-height: 2em;
        }

        .col-invoice-tit {
            float: left;
            @extend %font-size-big;
            color: $text-color-quiet;
        }

        .col-invoice-txt {
            display: block;
            margin-left: 5em;
            @extend %font-size-base;
            color: $text-color;
            text-align: left;
        }
    }

    .order-row-amount {
        margin: 0;
        padding: 12px 12px 0 0;
        text-align: right;
        color: $text-color;
        @extend %font-size-big;

        .amount {
            color: $primary-color;
        }
    }

    .order-date {
        margin: 0;
        padding: 0 12px 5px 0;
        line-height: 2em;
        text-align: right;
        color: $text-color-quiet;
        @extend %font-size-small;
    }

    .order-receive-info {
        padding: 8px 12px 16px;
        @extend %font-size-base;
        color: $text-color-quiet;
    }
}

.order-info-footer {
    padding: 0;

    .footer-item {
        margin-top: 1px;
        padding: 0;
    }

    .button {
        height: 43px;
        min-height: 43px;
        padding: 0;
        margin: 0;
        line-height: 43px;
        font-size: 16px;
        border: none;
        border-radius: 0;
    }
}