@charset "utf-8";

.register-panel {

    .register-bottom-row {
        text-align: center;
        font-size: 13px;
        line-height: 2em;
    }

    .agreement {
        color: $positive;
    }
}