@charset "utf-8";

.share-event-modal-view {
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    height: convert-rem(150px);
    min-height: 0;
    max-height: 100%;
    background-color: $light;

    .share-title {
        height: convert-rem(40px);
        line-height: convert-rem(40px);
        text-align: center;
        color: $text-color-secondary;
        @extend %font-size-big;
    }

    .share-row {
        height: convert-rem(75px);
    }

    .share-icon {
        height: convert-rem(40px);
        margin-bottom: convert-rem(8px);
        background-size: convert-rem(40px) convert-rem(40px);
        background-position: center center;
        background-repeat: no-repeat;

        &.wechat-icon {
            background-image: url(#{$images-path}/icon-wechat@2x.png);
        }

        &.wechat-timeline-icon {
            background-image: url(#{$images-path}/icon-wechat-timeline@2x.png);
        }

        &.copy-line-icon {
            background-image: url(#{$images-path}/icon-copy-link@2x.png);
        }
    }

    .share-text {
        height: convert-rem(20px);
        line-height: convert-rem(20px);
        text-align: center;
        color: $text-color-secondary;
        @extend %font-size-small;
    }

    .share-btn {
        height: convert-rem(35px);
        line-height: convert-rem(35px);
        text-align: center;
        color: $text-color-secondary;
        @extend %font-size-base;
        background-color: $stable;
    }
}