@charset "UTF-8";

.start-event-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;

    .start-event-panel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .start-event-content {
        position: relative;
        width: convert-rem(261px);
        height: convert-rem(378px);
        background-size: convert-rem(261px) auto;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(#{$images-path}/start-event-bg.png);
    }

    .icon-start-close {
        position: absolute;
        right: convert-rem(-15px);
        top: convert-rem(-30px);
        width: convert-rem(30px);
        height: convert-rem(30px);
        background-size: convert-rem(30px) auto;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(#{$images-path}/start-event-close-btn.png);
    }

    .start-event-list {
        position: absolute;
        top: convert-rem(160px);
        left: convert-rem(45px);
        right: convert-rem(45px);
    }

    .start-event-item {
        position: relative;
        height: convert-rem(45px);
        margin-bottom: convert-rem(5px);
        background-color: #ff681e;
        border-radius: 4px;

        &:before {
            position: absolute;
            left: 0;
            right: 0;
            top: 2px;
            height: 1px;
            background: superfine-border-bottom(#ffb793);
            content: '';
        }

        &:after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 2px;
            height: 1px;
            background: superfine-border-bottom(#ffb793);
            content: '';
        }

        span {
            position: absolute;
            color: $light;
        }

        .item-symbol {
            left: convert-rem(10px);
            top: convert-rem(5px);
            font-size: convert-rem(12px);
        }

        .item-num {
            left: convert-rem(18px);
            top: convert-rem(8px);
            font-size: convert-rem(20px);
        }

        .item-tips {
            left: convert-rem(10px);
            top: convert-rem(24px);
            font-size: convert-rem(6px);
        }

        .item-line {
            left: 40%;
            top: convert-rem(8px);
            bottom: convert-rem(8px);
            width: 1px;
            background: superfine-border-left(#ffb793);
        }

        .item-title {
            top: convert-rem(12px);
            left: 45%;
            font-size: convert-rem(10px);
        }

        .item-date {
            top: convert-rem(24px);
            left: 45%;
            font-size: convert-rem(6px);
        }
    }

    .start-event-btn {
        position: absolute;
        bottom: convert-rem(10px);
        left: convert-rem(80px);
        right: convert-rem(80px);
        height: convert-rem(40px);
        background: rgba(255, 255, 255, 0);
    }
}
