<ion-modal-view class="light-bg">

    <ion-header-bar class="bar-primary">
        <button class="button button-clear left-btn" ng-click="modals.agreement.close()">
            <i class="icon ion-ios-arrow-left"></i>
        </button>
        <h1 class="title">注册协议</h1>
    </ion-header-bar>

    <ion-content class="agreement-panel">

        <div class="agreement-content">	

	        <p class="agreement-title">半月谈时政教育服务使用协议</p>

			第一条【重要提示】<br />

			请您（以下亦称“用户”）在申请注册流程时，点击同意本协议之前，仔细阅读本协议之全部条款，并确认您已完全理解本协议之规定。尤其是免除及限制责任的条款、知识产权条款、法律适用及争议解决条款。<br />

			未成年人应当在监护人陪同和指导下阅读本协议，并在使用本协议项下服务前取得监护人的同意。<br />

			如您对协议有任何疑问，请立即停止注册或使用“半月谈时政教育”，并可向“半月谈时政教育”客服咨询。<br /><br />



			第二条【协议的接受与变更】<br />

			2.1 在您充分阅读并且理解本协议，并勾选本协议前选项框，将视为您签署了本协议，表明您自愿接受本协议全部条款的约束，本协议将构成您与半月谈新媒体科技有限公司（以下简称“半月谈新媒体科技公司”）及其经营的“半月谈时政教育”之间具有约束力的法律文件。<br />

			2.2 半月谈新媒体公司有权利对本协议进行修改，协议修改后，半月谈新媒体公司将在相关页面公布修改的内容，修改后的协议一经公布即有效的代替原协议。如果您不同意本协议的修改，请立即停止访问或使用本网站或取消已经获得的服务；如果您选择在本协议修改后继续访问或使用本网站，则视为您已接受本协议的修改。<br />

			2.3请确认您依照中华人民共和国法律（为本协议之目的，含行政法规、部门规章、规范性文件，下同）、及您所在地之法律、及您自愿或应当接收其管辖之法律（以下合称“法律”），有权签署并同意接受本协议的约束。如果您代表您的雇主或单位，请在签署前，确认并保证您已获得签署本协议的充分授权。<br />

			2.4您与半月谈新媒体公司签署的本协议所列明的条款，并不能完全涵盖您与半月谈新媒体公司所有的权利和义务。因此，半月谈新媒体公司在“半月谈时政教育”公布的与用户相关的其他声明、规则等均视为本协议之补充协议，为本协议不可分割的组成部分，与本协议具有同等法律效力。<br /><br />



			第三条【服务的内容与方式】<br />

			3.1“半月谈时政教育”是一家网络服务提供者，可针对不同传播渠道用户为其提供内容服务，前述传播渠道包括但不限于：<br />
			1）通过“半月谈时政教育”的服务；<br />
			2）“半月谈时政教育”提供的可以使用的其他传播渠道。<br />

			3.1.1除免费服务外，“半月谈时政教育”可能提供部分收费服务。您可以通过付费方式购买收费服务，具体方式为：通过网上银行或其他“半月谈时政教育”提供的付费途径支付一定数额的人民币，从而获得收费服务使用权限。对于收费服务，“半月谈时政教育”会在您使用之前给予明确的提示，只有根据提示确认其同意按照前述支付方式支付费用并完成了支付行为，才能使用该等收费服务。支付行为的完成以银行或第三方支付平台生成“支付已完成”的确认通知为准。<br />

			3.1.2您应了解“半月谈时政教育”可能对该等服务（含收费服务）进行更改、更新或提高，并承诺不因“半月谈时政教育”更改、更新或提高其服务给您造成的损失或不便而向得到半月谈新媒体科技有限公司（及关联方）或“半月谈时政教育”要求赔偿或补偿。<br />

			3.2 由于互联网的高速发展，半月谈新媒体公司将在未来向用户提供更多的服务，除非另有明确规定外，未来提供的新服务也适用于本协议。<br />

			3.3 “半月谈时政教育”提供服务的方式主要为：搭建“半月谈时政教育微信公共平台”、“半月谈时政教育”移动客户端等，为用户上载、传播其内容提供平台；且通过不同的渠道，为用户上载、管理、传播、推广其内容。<br />

			3.4 “半月谈时政教育”作为平台，不保证其提供的服务一定满足用户的全部需求。“半月谈时政教育”保留随时修改、中断或终止服务且无需通知用户的权利。“半月谈时政教育”行使修改、中断或终止服务的权利，无需对用户或任意第三方承担任何责任。<br /><br />



			第四条【账户的取得与使用】<br />

			4.1您确认，在您开始注册“半月谈时政教育”前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。<br />

			4.2您有权选择是否成为半月谈时政教育注册用户。<br />

			4.2.1您选择注册账号成为“半月谈时政教育”用户时，应按照“半月谈时政教育”的提示及要求填写或提供资料、信息，并确保资料、信息的真实性、正确性及完整性。如果您的资料、信息发生变化，应及时更改。<br />

			4.2.2当您一旦注册成功，即成为“半月谈时政教育”注册用户。成为“半月谈时政教育”注册用户，您可自行创建、修改昵称。用户名和昵称的命名及使用应遵守相关法律法规并符合网络道德。用户名和昵称中不能含有任何侮辱、诽谤、淫秽或暴力等侵害他人合法权益或违反公序良俗的词语。如您违反前述规定，“半月谈时政教育”有权随时限制或拒绝您使用该账号，甚至注销该账号。<br />

			4.2.3您注册账号时，应按照“半月谈时政教育”的提示及要求填写或提供资料、信息，并确保用户身份及信息的真实性、正确性及完整性；如果资料发生变化，您应及时更改。<br />
			您同意并承诺：<br />
			1）不故意冒用他人信息为您注册帐号；<br />
			2）不未经他人合法授权以他人名义注册帐号；<br />
			如您违反前述规定，“半月谈时政教育”有权随时拒绝您使用该账号，或者限制您使用，或者注销该账号。<br />

			4.3 用户注册成功时，您将创建一个账号和密码。您应采取合理措施维护账号和密码的安全，因用户原因导致账号或密码泄露而造成的法律后果由用户负责。用户对由此用户名和密码登入系统后所发生的所有活动和事件负责，并承担由此产生的直接或者间接法律责任，半月谈新媒体公司不承担任何责任。<br />

			4.4在您完成账号注册后，“半月谈时政教育”将向您提供帐号及初始密码信息，此后，您应自行保管及维持密码及帐号的安全。您应自行使用该账号，并对任何人利用您的帐号及密码所进行的活动负完全的责任。<br />

			您应了解，在账号和密码匹配时，“半月谈时政教育”无法对非法或未经您授权使用您帐号及密码的行为作出甄别，因此，“半月谈时政教育”对任何使用您账号和密码登录并使用““半月谈时政教育”的行为不承担任何责任。<br />
			您同意并承诺：<br />
			1） 当您的帐号或密码遭到未获授权的使用，或者发生其他任何安全问题时，您会立即有效通知到“半月谈时政教育”；<br />
			2） 当您每次上网或使用其他服务完毕后，会将有关帐号等安全退出；<br />

			4.5 用户的账号或密码遗失的，可以通过注册信息进行重置密码，以手机号码注册的用户可以凭借手机号码找回原密码。用户若发现账号遭到未授权的使用或存在其他安全漏洞的情况，应立即告知半月谈新媒体公司。<br />

			4.6若您的账户连续180天未登陆过“半月谈时政教育”，则半月谈新媒体公司有权关闭您的账户且无需事先通知您，账户一旦关闭相应的服务同时终止。<br /><br />


			第五条【用户的权利】<br />

			5.1用户有权在注册后获得其个人的“半月谈时政教育”账号；<br />

			5.2用户有权在注册、登陆并支付相关费用后，在线收看“半月谈时政教育”视频文字作品；<br /><br />


			第六条【用户的义务】<br />

			6.1 用户承诺并保证遵守《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国反不正当竞争法》、《中华人民共和国侵权责任法》、《中华人民共和国广告法》、《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》及《信息网络传播权保护条例》等有关法律、法规、规章的规定。在任何情况下，半月谈新媒体公司合理的认为用户有可能违反上述法律、法规、规章的规定，有权不经事先通知终止向该用户提供服务。<br />

			6.2 禁止用户从事以下行为：<br />

			6.2.1涉及危害国家安全、泄露国家秘密的；侵犯国家社会集体的和公民的合法权益的；制作、复制、发行或传播带有煽动抗拒、破坏法律、法规实施的，煽动颠覆国家政权，推翻社会主义制度的，煽动分裂国家、破坏国家统一的，煽动民族仇恨、民族歧视，破坏民族团结的，捏造或者歪曲事实，散布谣言，扰乱社会秩序的，宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的，公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的，损害国家机关信誉的，其他违反法律、法规的内容。<br />

			6.2.2伪造标题或以其他方式操控识别资料，使人误认为该内容为半月谈新媒体公司所传送的。<br />

			6.2.3将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、张贴、发送电子邮件或以其他方式传送。<br />

			6.2.4以技术方式攻击或破坏或改变“半月谈时政教育”的部分或全部、或干扰其运行；以非法方式获取或使用“半月谈时政教育”的任何软件、代码或其他技术或商业信息；禁止用户对“半月谈时政教育”运行的任何程序进行反向工程、反向编译、反向汇编或改写。<br />

			6.2.4未经许可使用“半月谈时政教育”的网站名称、公司名称、商标、商业标识、网页版式或内容、或其他由半月谈新媒体公司或“半月谈时政教育”享有知识产权或权利的信息或资料；将“半月谈时政教育”以任何形式作为从事各种非法活动的场所、平台或媒介。未经“半月谈时政教育”的书面授权或许可，用户不得以“半月谈时政教育”的名义从事任何商业活动，也不得以任何形式将“半月谈时政教育”作为从事商业活动的场所、平台或媒介。<br />

			6.2.5 未经半月谈新媒体公司书面许可、另行签署协议或另行指定可供用户使用的特定商业服务外，用户不得以商业目的使用“半月谈时政教育”；不对“半月谈时政教育”的任何部分或全部进行商业性质利用、复制、拷贝、出售、调查、广告。<br />

			6.2.6未经半月谈新媒体公司书面许可、另行签署协议或另行指定可供用户使用的特定商业服务外，用户不得通过“半月谈时政教育”发布有关任意第三方的广告宣传内容。<br />

			6.3用户就其所上传的内容承担全部法律责任。因用户违反法律规定或本协议规定造成违约或侵犯第三方合法权益的，由用户自行解决。如果给“半月谈时政教育”造成损失，“半月谈时政教育”有权向用户追偿其因此所遭受的全部损失、包括其直接损失、间接损失、预期利益损失等损失。<br /><br />


			第七条【用户信息保护】<br />

			7.1用户注册并获得“半月谈时政教育”提供的服务时，用户须提供个人信息。“半月谈时政教育”承诺，未经用户同意，不会以非法方式披露用户个人信息。但是下列情形除外：依照法律或司法、行政机关的强制性命令对第三方披露用户个人信息且无需事先向用户发出通知。<br />

			7.2 当用户通过“半月谈时政教育”购买视频课程或图书时，用户的信息将被提供给前述商品或服务的销售者，用户应自行承担此类信息披露的责任。<br />

			7.3下述情况下，用户授权“半月谈时政教育”利用用户的个人信息：<br />

			7.3.1 在紧急情况下，为维护用户及公众的权益。<br />

			7.3.2 为维护“半月谈时政教育”及半月谈新媒体公司的著作权、商标权、专利权及其他任何合法权利或权益。<br />

			7.3.3为获取第三方数据而将用户信息与第三方数据匹配。<br />

			7.3.4将用户数据用于统计，以便向未来的合作伙伴、广告商及其他第三方以及为了其他合法目的而描述“半月谈时政教育”的服务。<br /><br />


			第八条【知识产权归属与授权】<br />

			8.1 半月谈新媒体公司对教育服务及本平台所使用的软件所包含的受知识产权法或其他法律保护的资料享有相应的权利，本平台的整体内容版权归半月谈新媒体公司所有。本平台所有设计图样以及其他图样、产品及服务名称，均为半月谈新媒体公司所享有，任何人不得使用、复制或用作其他用途。用户对本平台所使用的软件有非专属性使用权，但不得自行或许可任何第三方复制、修改、出售或衍生产品。<br />

			8.2 经由本平台传送的文字、图片、音频、视频及其他内容，受到著作权法、商标法、专利法或其他法律的保护；除该文字、图片、音频、视频及其他内容的上载用户所享有的著作权，未经半月谈新媒体公司书面授权许可，第三方不得进行修改、出租、售卖或衍生其他作品。<br />

			8.3本平台除了声明转载的是作者所有版权的或标明出处的文章、解析、视频、音频、图片等，其他文章、解析、视频、音频、图片等衍生品版权全归半月谈新媒体公司所有。半月谈时政教育平台的设计版权、平台的界面设计图样、文字、动画版权归半月谈新媒体公司所有。<br />

			8.4半月谈新媒体公司对其专有内容、原创内容和其他通过授权取得的独占或者独家内容享有知识产权。未经半月谈新媒体公司书面许可，任何单位和个人不得私自转载、传播和提供收看服务或者有其他侵犯半月谈新媒体公司知识产权的行为。否则，将承担法律责任。<br /><br />


			第九条【免责说明】<br />

			9.1 “半月谈时政教育”作为教育服务提供者，不担保教育平台上的信息及服务能充分满足用户的需求。<br />

			9.2 除非“半月谈时政教育”以书面形式明确约定，“半月谈时政教育”对于用户以任何方式（包括但不限于包含、经由、连接或下载）从本平台所获得的任何内容信息，包括但不限于视频内容、音频内容、广告内容、其他用户信息、商户信息、用户评价内容等，不保证其准确性、完整性、可靠性；对于用户因本平台上的内容信息而购买、获取的任何产品、服务、信息或资料，半月谈新媒体公司不承担责任。<br />

			9.3 所有发给用户的通告，“半月谈时政教育”都将通过正式的页面公告或站内信或电子邮件或客服电话或手机短信或常规的信件送达。任何非经“半月谈时政教育”正规渠道获得的活动或信息，“半月谈时政教育”不承担法律责任。<br /><br />


			第十条【第三方链接】<br />

			“半月谈时政教育”可能会提供第三方国际互联网网站或资源链接，除非另有声明外，“半月谈时政教育”无法对第三方网站服务进行控制，因此由于下载、传播、使用或依赖上述网站或资源所生的损失或损害，“半月谈时政教育”不承担任何责任。<br /><br />


			第十一条【侵权投诉】<br />

			11.1 根据《中华人民共和国侵权责任法》的规定，任何第三方认为，用户利用“半月谈时政教育”平台侵害其民事权益或实施侵权行为的，被侵权人有权书面通知“半月谈时政教育”采取删除、屏蔽、断开链接等必要措施。<br />

			11.2 根据《信息网络传播权保护条例》的规定，任何第三方认为，“半月谈时政教育”所涉及的视频、图片、音频、文字等作品，侵犯自己的合法权益的，可以向“半月谈时政教育”提交书面通知，要求“半月谈时政教育”删除该侵权作品，或者断开链接。通知书应当包含下列内容：权利人的姓名（名称）、联系方式和地址；要求删除或者断开链接的侵权视频、图片、音频、文字的名称；权利人的有效权利证明材料。权利人应当对通知书的真实性负责，如果侵权投诉不实，则需承担相应的法律责任。<br /><br />


			第十二条【“半月谈时政教育”的商业活动】<br />

			您理解并接受，“半月谈时政教育”为其运营，可以进行下述商业活动：通过电子邮件、客户端、网页或其他合法方式向用户发送推广信息或其他相关商业信息。通过增值服务系统或其他方式向用户发送相关服务信息或其他信息，其他信息包括但不限于通知信息、宣传信息、广告信息等。<br /><br />


			第十三条【服务的终止】<br />

			13.1本协议或本协议项下“半月谈时政教育”所提供的服务（含收费服务）可在下述情形下部分或全部中止或终止：<br />
			1） 因法律规定，或“半月谈时政教育”服从行政命令或司法判令的要求。<br />
			2） 用户违反本协议。<br />
			3）“半月谈时政教育”认为应予终止的其他情形。<br />

			13.2在一般情形下，“半月谈时政教育”会提前按照您提供的联系方式以电子邮件或短信或其他电子方式通知您，服务将中止或终止。您应了解并同意，在紧急情况或特殊下，“半月谈时政教育”可不经通知即中止或终止服务。<br />

			13.3在本协议或本协议项下“半月谈时政教育”提供的服务（含收费服务）中止或终止时，“半月谈时政教育”有权<br />
			1） 拒绝用户登录“半月谈时政教育”；<br />
			2） 删除用户信息；<br />
			3） 删除用户购买的内容。<br />

			13.4您同意，不因本协议或本协议项下“半月谈时政教育”所提供的服务中止或终止，而要求得到半月谈新媒体科技有限公司（及关联方）或“半月谈时政教育”向您作出赔偿或补偿或承担任何其他责任。<br /><br />


			第十四条【法律适用、管辖和其他】<br />

			14.1 本协议的生效、履行、解释及争议的解决均适用中华人民共和国法律。用户因使用“半月谈时政教育”而产生或与之相关的一切争议。权利主张或其他事项，均适用中华人民共和国法律。<br />

			14.2 用户与半月谈新媒体公司及其经营的“半月谈时政教育”发生的一切争议，应友好协商，如协商不成的，应提交北京市石景山区人民法院管辖。<br />

			14.3“半月谈时政教育”可能不时发布针对用户的相关协议，并可能将该相关协议作为对本协议的补充或修改而将其内容作为本协议的一部分。请您及时关注并阅读相关协议。<br />

			14.4 本协议任意一条被视为废止、无效或不可执行，该条款应视为可分的且不影响本协议其他条款的法律效力。<br /><br />


			【审慎提醒】如您点击“同意”，则本协议将立即生效，并构成您和北京半月谈新媒体科技有限公司及其经营的“半月谈时政教育”之间有约束力的法律文件。<br />

		<div>

    </ion-content>

</ion-modal-view>
