<!-- 选择支付方式 -->
<ion-modal-view class="checkout-modal-panel">

    <div class="bar-primary-modal" ng-click="modals.choosePayment.close()">
        支付方式
        <i class="icon-close-modal icon ion-ios-close-empty"></i>
    </div>

    <ion-content class="choose-payment-modal-panel" scroll="false">

        <div class="payment-content">           
            <ul class="payment-list">
                <li class="payment-item row" ng-click="choosePayment.selected('AliPay')">
                    <i class="iconfont icon-zhifubao col col-center col-adaptive"></i>
                    <div class="payment-text col col-center">使用支付宝付款</div>
                    <label class="radio radio-label col col-adaptive">
                        <input type="radio" value="AliPay" name="payment"
                            ng-model="choosePayment.selectedPayment" />
                    </label>

                </li>
                <li class="payment-item row" ng-click="choosePayment.selected('WeChat')">
                    <i class="iconfont icon-weixin col col-center col-adaptive"></i>
                    <div class="payment-text col col-center">使用微信付款</div>
                    <label class="radio radio-label col col-adaptive">
                        <input type="radio" value="WeChat" name="payment"
                            ng-model="choosePayment.selectedPayment" />
                    </label>
                </li>
            </ul>
        </div>

    </ion-content>

    <ion-footer-bar class="hide-on-keyboard-open">
        <button type="button" class="button button-block button-primary" 
            ng-click="choosePayment.confirmPayment()">
            确认
        </button>
    </ion-footer-bar>

</ion-modal-view>
