<!-- 发票说明 -->
<ion-modal-view class="light-bg">

    <ion-header-bar class="bar-primary">
        <button class="button button-clear left-btn" ng-click="modals.invoiceInfo.close()">
            <i class="icon ion-ios-arrow-left"></i>
        </button>
        <h1 class="title">发票说明</h1>
    </ion-header-bar>

    <ion-content class="invoice-info-modal-panel" scroll="false">

        <div class="invoice-info">
            <p>1、发票抬头：可填写“个人”或单位准确抬头。单位抬头必须填写公司相关税号。</p>
            <p>2、发票内容：按开票周期内订单实际商品种类分类开票，如有其它要求，请致电客服4008-515-558。</p>
            <p>3、发票金额：按开票周期内订单实际付款金额开票。不含销售折扣、优惠券、礼品卡等商业折扣的金额。</p>
            <p>4、开票时间：1—5个工作日。 </p>
            <p>5、发票种类：</p>
                <p class="info-line">（1）电子发票（默认）</p>
                <p class="info-line">（2）普通发票</p>
            <p>6.发票快递费用：发票1—3个工作日配送，单笔开票数额未满300元。发票配送费用到付。 </p>
        </div>        

    </ion-content>

</ion-modal-view>
