<ion-modal-view class="checkout-modal-panel">

    <div class="bar-primary-modal" ng-click="modals.orderRefundInfo.close()">
        退换货说明
        <i class="icon-close-modal icon ion-ios-close-empty"></i>
    </div>

    <ion-content class="order-refund-info-panel light-bg">
        <div class="info">
            <p>1.APP内出售的图书如有质量问题、商品印刷和包装与实际不符（实物对比以本店销售货架摆放的同一商品为参考），本平台承诺无条件退货或更换。</p>

            <p>2.在本APP内购买商品的客户，如发现产品质量问题，须按销售票据规定的退换期限为准，凭销售票据办理退货。</p>

            <p>3.所退商品要求具备完整的外包装、原产品、附带产品、发票或销售票据。请您在购买商品时当面检验商品，以免因为不可确认的产品问题（如：商品缺少、光盘面有划伤、破损等），给您的退货带来不便。</p>

            <p>4.出现下列任何一种情况客户不能享受本店的退换货承诺：</p>
                <p class="info-line">A.超出退换货期限的商品；</p>
                <p class="info-line">B.食品和液体溅落导致损坏或污损；</p>
                <p class="info-line">C.产品曾被非正常使用并造成的损坏、产品非正常磨损、人为划伤；</p>
                <p class="info-line">D.退换商品不完整或外观包装破损、污染或褪色；</p>
                <p class="info-line">E.退回产品所附资料不全；</p>
                <p class="info-line">F.使用储值卡购买图书无质量问题不退不换；</p>
                <p class="info-line">G.产品并非由本平台提供等。</p>

            <p>5.退换货的金额为商品实际支付金额。</p>

            <p>6.音像制品等出现问题，请参考音像部售后服务及退换货规定。特别提示：半月谈教育售后服务条款依据《中华人民共和国消费者权益保护法》、《中华人民共和国产品质量法》及其它相关规定。请您仔细阅读选购，如图书页面无特殊退换货规定的，将按以上条款执行。</p>
        </div>
    </ion-content>

</ion-modal-view>

