<ion-modal-view class="start-event-modal">

    <ion-content scroll="false">
        <div class="start-event-panel">
            <div class="start-event-content">
                <i class="icon-start-close" ng-click="startEvent.closeModal($event)"></i>
                <ul class="start-event-list">
                    <li class="start-event-item">
                        <span class="item-symbol">&yen;</span>
                        <span class="item-num">20</span>
                        <span class="item-tips">图书券 满99元使用</span>
                        <span class="item-title">优惠券</span>
                        <span class="item-date">有效期：自领券之日起15日内有效</span>
                        <span class="item-line"></span>
                    </li>
                    <li class="start-event-item">
                        <span class="item-symbol">&yen;</span>
                        <span class="item-num">20</span>
                        <span class="item-tips">视频券 满39元使用</span>
                        <span class="item-title">优惠券</span>
                        <span class="item-date">有效期：自领券之日起15日内有效</span>
                        <span class="item-line"></span>
                    </li>
                    <li class="start-event-item">
                        <span class="item-symbol">&yen;</span>
                        <span class="item-num">10</span>
                        <span class="item-tips">通用券 全场通用</span>
                        <span class="item-title">优惠券</span>
                        <span class="item-date">有效期：自领券之日起15日内有效</span>
                        <span class="item-line"></span>
                    </li>
                </ul>
                <div class="start-event-btn" ng-click="startEvent.goCouponList()"></div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
