<ion-view title="军人认证" cm-hide-tabs="true">

    <ion-header-bar class="bar bar-header bar-primary disable-user-behavior">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button back-button buttons button-clear button header-item" ng-click="goBack()">
                    <i class="icon ion-ios-arrow-left"></i>
                </button>
            </span>
        </div>
        <div class="title title-center header-item">
            军人认证
        </div>
    </ion-header-bar>

    <ion-content class="authentication-panel" scroll="false">
        <div class="authentication-row1">即将上线</div>
        <div class="authentication-row2">敬请期待</div>
    </ion-content>

</ion-view>
