<ion-view class="free-list-view stable-bg" title="课程详情" cm-hide-tabs="true">

    <ion-header-bar class="bar bar-header bar-primary disable-user-behavior">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button back-button buttons button-clear button header-item" ng-click="goBack()">
                    <i class="icon ion-ios-arrow-left"></i>
                </button>
            </span>
        </div>
        <div class="title title-center header-item">
            课程详情
        </div>
    </ion-header-bar>

    <ion-content>

       <!--下拉刷新-->
        <ion-refresher on-refresh="audio.refresh({showLoading: false})" 
            pulling-text="下拉刷新" refreshing-text="正在刷新"></ion-refresher>

        <!-- 空警告，当页面内没有数据时，显示该信息 -->
        <div class="list-empty" ng-if="audio.finishLoading && audio.courseList.length == 0">
            <div class="img"></div>
            <div class="text">暂无课程</div>
        </div>

        <ul class="free-list">
            <li class="free-item" ng-repeat="item in audio.courseList"
                ng-click="audio.goVideoInfo(item.entityName, item.videoUrl, false, item.genreName)">
    
                <div class="item-title mb">{{item.title}}</div>
                <div class="item-image">
                    <img class="img" cm-lazyload="item.picUrl" load-immediate="true" />
                </div>
                <div class="item-text">{{item.subtitle}}</div>
            </li>
        </ul>

    </ion-content>

</ion-view>
