<ion-view title="课程详情" cm-hide-tabs="true">

    <ion-header-bar class="bar bar-header bar-primary disable-user-behavior">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button back-button buttons button-clear button header-item" ng-click="goBack()">
                    <i class="icon ion-ios-arrow-left"></i>
                </button>
            </span>
        </div>
        <div class="title title-center header-item">
            课程详情
        </div>
    </ion-header-bar>

    <ion-content class="course-video-panel stable-bg" scroll="false">

        <div ng-if="video.finishLoading">
            <!-- 视频播放 -->
            <div class="video-container" cm-video="video.activeVideoItem.videoUrl"></div>

            <!-- tab -->
            <ul class="tab-info-list">
                <li class="tab-info-item" ng-class="{'active': tab.active}" 
                    ng-repeat="tab in video.infoTabs"
                    ng-click="video.changeTab($index)">{{tab.label}}</li>
            </ul>

            <ion-content class="course-content" delegate-handle="courseVideoScroll">

                <!--下拉刷新-->
                <ion-refresher on-refresh="video.init()" 
                    pulling-text="下拉刷新" refreshing-text="正在刷新"></ion-refresher>

                <!-- 详情 -->
                <div class="course-detail" ng-if="video.tabAction == 0">
                    <div class="detail-box">
                        <div class="info-name">{{video.baseData.title}}</div>
                        <div class="info-sales">购买人数：{{video.baseData.salesVolume}}</div>
                        <div class="info-price">{{video.baseData.listPrice | currency: '¥'}}</div>
                    </div>

                    <!-- 老师介绍 -->
                    <div class="detail-box">
                        <!-- <div class="detail-title">老师介绍</div> -->
                        <div class="author-info">
                            <div class="author-box">
                                <div class="author clearfix">
                                    <div class="author-img fl">
                                        <img class="img" src="{{video.baseData.picUrl}}" />
                                    </div>
                                    <div class="author-right fr">
                                        <div class="author-name">{{info.baseData.author}}</div>
                                        <div class="author-score">
                                            好评度：<cm-comment-level level="{{info.baseData.score}}"></cm-comment-level>
                                        </div>
                                        <div class="author-nums">
                                            课程数：{{video.courseList.length}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author-summary">
                                {{video.baseData.summary}}
                            </div>
                        </div>
                    </div>

                    <!-- 课程详情 -->
                    <div class="detail-box" cm-scroll>
                        <div class="detail-title">课程详情</div>
                        <div class="describe-content" ng-bind-html="video.baseData.content"></div>
                        <div class="describe-btn"></div>
                    </div>
                </div>

                <!-- 目录 -->
                <div class="course-catalog" ng-if="video.tabAction == 1">
                    <div class="catalog-title">视频课程({{video.courseList.length}})</div>
                    <ul class="catalog-list">
                        <li class="catalog-item row" ng-class="{'active': catalog.active}"
                            ng-repeat="catalog in video.courseList"
                            ng-click="video.changeVideo(catalog, $index)">
                            <i class="item-play iconfont icon-shipinbofangyingpian col col-center col-adaptive"></i>
                            <span class="item-text col">{{catalog.title}}</span>
                            <span class="col col-center col-adaptive"
                                ng-click="video.downloadVideo(catalog, $event)">
                                <i class="item-download iconfont icon-huancun"
                                    ng-show="!catalog.downloading"
                                    ng-class="{'cached': catalog.cached}"></i>
                                <ion-spinner icon="circles" ng-show="catalog.downloading"></ion-spinner>
                            </span>
                        </li>
                    </ul>
                </div>

                <!-- 有评论 -->
                <div class="product-info-comments light-bg" ng-if="video.commentsList.length > 0">
                    <div class="comments-title">课程评论<span class="amount">({{video.commentsList.length}})</span></div>
                    <ul class="comments-list">
                        <li class="comments-item clearfix" ng-repeat="comment in video.commentsList">
                            <div class="comments-pic fl">
                                <img class="img" cm-lazyload="comment.imagePath" load-immediate="true" 
                                    ng-if="comment.imagePath"/>
                            </div>
                            <div class="comments-right">
                                <div class="comments-info clearfix">
                                    <span class="comments-name fl">{{comment.nickName | textFormat: true}}</span>
                                    <span class="comments-time fl">{{comment.createTime}}</span>
                                    <cm-comment-level class="fr" level="{{comment.score}}"></cm-comment-level>
                                </div>
                                <div class="comments-content">{{comment.content}}</div>
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="comments-more">查看全部评论 ></div> -->
                </div>

                <!-- 无评论 -->
                <div class="product-info-comments light-bg" ng-if="video.commentsList.length == 0">
                    <div class="comments-title">课程评论<span class="amount">(0)</span></div>
                    <div class="comments-empty">暂无评论</div>
                </div>
            </ion-content>
        </div>

    </ion-content>

</ion-view>
