<ion-view title="兑换规则" cm-hide-tabs="true">

    <ion-header-bar class="bar bar-header bar-primary disable-user-behavior">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button back-button buttons button-clear button header-item" ng-click="goBack()">
                    <i class="icon ion-ios-arrow-left"></i>
                </button>
            </span>
        </div>
        <div class="title title-center header-item">
            兑换规则
        </div>
    </ion-header-bar>

    <ion-content class="exchange-rule-panel light-bg">

        <div class="rule-content">
            <p>
                <span>1.兑换码是什么？</span><br />
                兑换码是由半月谈时政教育官方制作发售，可在应用内使用，兑换视频课程，图书，音频和订阅等产品。
            </p>
            <p>
                <span>2.如何获得兑换码？</span><br />
                您好，兑换码可以通过关注公众号 半月谈时政教育（微信号：byt-gongkao）关注消息官方会不定时发放兑换码。也可通过线下及微信商城等渠道购买！
            </p>
            <p>
                <span>3.注意事项</span><br />
                3.1 兑换码一经使用，不可再用，不支持折现，不支持退款，不支持更换。<br />
                3.2 兑换码课程为期有效1年有效，兑换码有效期一般会在购买时注明，请在有效期内使用。<br />
                3.3 如在有问题，请即使联系我们。邮箱：banyuetanbj@sina.com<br />
            </p>
            <p class="txt-right">
                半月谈时政教育官方<br />
                2017年1月15日
            </p>
        </div>

    </ion-content>

</ion-view>
