<ion-view class="feedback-view stable-bg" title="意见反馈" cm-hide-tabs="true">

    <ion-header-bar class="bar bar-header bar-primary disable-user-behavior">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button back-button buttons button-clear button header-item" ng-click="goBack()">
                    <i class="icon ion-ios-arrow-left"></i>
                </button>
            </span>
        </div>
        <div class="title title-center header-item">
            意见反馈
        </div>
        <div class="buttons buttons-right">
            <span class="right-buttons">
                <button class="button button-clear button-submit" ng-click="feedback.submit()">提交</button>
            </span>
        </div>
    </ion-header-bar>

    <ion-content class="feedback-panel">

        <form method="get" ng-submit="feedback.submit()">
            <p class="feedback-text">请填写意见和建议</p>
            <textarea class="feedback-content" placeholder="意见和建议" ng-model="feedback.content"
                rows="8"></textarea>

            <p class="feedback-text">请留下你的联系方式</p>
            <input type="text" class="feedback-contact" placeholder="邮箱或手机号" ng-model="feedback.contact" />
        </form>

    </ion-content>

</ion-view>
