<ion-view title="订单详情" cm-hide-tabs="true">

    <ion-header-bar class="bar bar-header bar-primary disable-user-behavior">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button back-button buttons button-clear button header-item" ng-click="goBack()">
                    <i class="icon ion-ios-arrow-left"></i>
                </button>
            </span>
        </div>
        <div class="title title-center header-item">
            订单详情
        </div>
    </ion-header-bar>

    <ion-content class="order-info-panel stable-bg">

        <!--下拉刷新-->
        <ion-refresher on-refresh="orderInfo.refresh({showLoading: false})" 
            pulling-text="下拉刷新" refreshing-text="正在刷新"></ion-refresher>

        <div ng-show="orderInfo.finishLoading">
        
            <div class="order-info-top">
                <div class="order-status row">
                    <div class="col"><i class="iconfont icon-dingdanzhuangtai"></i>订单状态</div>
                    <div class="col col-adaptive status">{{orderInfo.info.orderStatusLabel}}</div>
                </div>
                <div class="order-info">
                    <p class="info">
                        订单总计：{{orderInfo.info.payAmount | currency: '¥'}}(包含运费)
                    </p>
                    <p class="info">
                        订单编号：{{orderInfo.info.orderNumber}}
                    </p>
                    <p class="info" ng-if="orderInfo.expressInfo.logisticsLabel">
                        配送公司：{{orderInfo.expressInfo.logisticsLabel}}
                    </p>
                    <p class="info order-info-copy" 
                        ng-if="orderInfo.expressInfo.logisticsNumber"
                        ng-click="orderInfo.copyExpressNumber()">
                        快递单号：{{orderInfo.expressInfo.logisticsNumber}}
                        <button class="button button-outline button-primary order-copy">复制</button>
                    </p>
                </div>
            </div>

            <!-- 正常订单 5个步骤 -->
            <div class="order-steps normal-steps" ng-if="orderInfo.info.orderStatus != 5">
                <ul class="steps-list clearfix">
                    <li class="steps-item">
                        <p class="item-name">提交订单</p>
                        <p class="item-node" ng-class="{'node-finished': orderInfo.activeStep >= 1}">
                            <span class="step-active"></span>
                        </p>
                        <p class="item-time" ng-bind-html="orderInfo.info.placedTime | timeFormat"></p>
                    </li>
                    <li class="steps-item">
                        <p class="item-name">已支付</p>
                        <p class="item-node" ng-class="{'node-finished': orderInfo.activeStep >= 2}">
                            <span class="step-active"></span>
                        </p>
                    </li>
                    <li class="steps-item">
                        <p class="item-name">待发货</p>
                        <p class="item-node" ng-class="{'node-finished': orderInfo.activeStep >= 3}">
                            <span class="step-active"></span>
                        </p>
                    </li>
                    <li class="steps-item">
                        <p class="item-name">商品出库</p>
                        <p class="item-node" ng-class="{'node-finished': orderInfo.activeStep >= 4}">
                            <span class="step-active"></span>
                        </p>
                    </li>
                    <li class="steps-item">
                        <p class="item-name">完成订单</p>
                        <p class="item-node" ng-class="{'node-finished': orderInfo.activeStep == 5}">
                            <span class="step-active"></span>
                        </p>
                    </li>
                </ul>
                <div class="steps-line-bg"></div>
                <div class="steps-line-bg-active step-{{orderInfo.activeStep}}-active"></div>
            </div>

            <!-- 已取消订单 2个步骤 -->
            <div class="order-steps cancel-steps" ng-if="orderInfo.info.orderStatus == 5">
                <ul class="steps-list clearfix">
                    <li class="steps-item">
                        <p class="item-name">提交订单</p>
                        <p class="item-node" ng-class="{'node-finished': orderInfo.activeStep >= 1}">
                            <span class="step-active"></span>
                        </p>
                        <p class="item-time" ng-bind-html="orderInfo.info.placedTime | timeFormat"></p>
                    </li>
                    <li class="steps-item">
                        <p class="item-name">已取消</p>
                        <p class="item-node" ng-class="{'node-finished': orderInfo.activeStep == 2}">
                            <span class="step-active"></span>
                        </p>
                    </li>
                </ul>
                <div class="steps-line-bg"></div>
                <div class="steps-line-bg-active step-{{orderInfo.activeStep}}-active"></div>
            </div>

            <div class="order-consignee row" ng-if="orderInfo.consignee">
                <i class="col col-adaptive col-top iconfont icon-dizhi"></i>
                <div class="col">
                    <div class="consignee-name">
                        <span class="name">{{orderInfo.consignee.firstName}}</span>{{orderInfo.consignee.mobile}}
                    </div>
                <div class="consignee-address">{{orderInfo.consignee.districtLabel}} {{orderInfo.consignee.street}}</div>
                </div>
            </div>

            <div class="order-items">
                <div class="items-title">
                    <i class="iconfont icon-gouwu"></i> 商品清单
                </div>
                <ul>
                    <li class="order-item clearfix" 
                        ng-repeat="item in orderInfo.items"
                        ng-click="orderInfo.goProductInfo(item.entityName, item.genreName)">
                        <div class="item-img fl">
                            <img class="img" cm-lazyload="item.picUrl" load-immediate="true" />
                        </div>
                        <div class="item-info">
                            <div class="item-name">{{item.title}}</div>
                            <div class="item-content">{{item.subtitle}}</div>
                            <div class="item-price">
                                {{item.price | currency: '¥'}}<span ng-if="item.genreName != 'book'">/年</span>
                                <span class="numbers">x{{item.nums}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="order-row">
                <p class="order-row-cont row">
                    <span class="col col-adaptive col-tit">支付方式</span>
                    <span class="col col-txt">{{orderInfo.info.paymentType}}</span>
                </p>
                <p class="order-row-cont row">
                    <span class="col col-adaptive col-tit">配送方式</span>
                    <span class="col col-txt">快递</span>
                </p>
                <p class="order-row-cont row">
                    <span class="col col-adaptive col-tit">优惠券</span>
                    <span class="col col-txt">{{orderInfo.couponInfo}}</span>
                </p>
                <div class="order-invoice-row-cont" ng-if="orderInfo.invoice.length">
                    <p class="order-invoice-row">
                        <span class="col-invoice-tit">发票内容：</span>
                        <span class="col-invoice-txt">{{orderInfo.invoiceInfo.content}}</span>
                    </p>
                    <p class="order-invoice-row">
                        <span class="col-invoice-tit">发票类型：</span>
                        <span class="col-invoice-txt">{{orderInfo.invName[orderInfo.invoiceInfo.type-1]}}</span>
                    </p>
                    <p class="order-invoice-row">
                        <span class="col-invoice-tit">发票抬头：</span>
                        <span class="col-invoice-txt">{{orderInfo.invoiceName[orderInfo.invoiceInfo.invoiceType-1]}}-{{orderInfo.invoiceInfo.title}}</span>
                    </p>
                    <p class="order-invoice-row" ng-if="orderInfo.invoiceInfo.taxpayerNo">
                        <span class="col-invoice-tit">企业税号：</span>
                        <span class="col-invoice-txt">{{orderInfo.invoiceInfo.taxpayerNo}}</span>
                    </p>
                    <p class="order-invoice-row" ng-if="orderInfo.invoiceInfo.email">
                        <span class="col-invoice-tit">发送邮箱：</span>
                        <span class="col-invoice-txt">{{orderInfo.invoiceInfo.email}}</span>
                    </p>
                </div>
                <p class="order-row-cont row" ng-if="!orderInfo.invoice.length">
                    <span class="col col-adaptive col-tit">发票内容</span>
                    <span class="col col-txt">不开具发票</span>
                </p>
                <p class="order-row-cont row" ng-click="orderInfo.shoRefundInfo()">
                    <span class="col col-adaptive col-tit refund-tips">退换货说明</span>
                    <span class="col col-txt col-center"><i class="icon ion-ios-help-outline"></i></span>
                </p>
            </div>

            <div class="order-row">
                <p class="order-row-cont row">
                    <span class="col col-adaptive col-tit">商品金额</span>
                    <span class="col col-txt">{{orderInfo.info.commodityFee | currency: '¥'}}</span>
                </p>
                <p class="order-row-cont row">
                    <span class="col col-adaptive col-tit">运费</span>
                    <span class="col col-txt">{{orderInfo.info.contractedShippingFee | currency: '¥'}}</span>
                </p>
                <p class="order-row-cont row">
                    <span class="col col-adaptive col-tit">优惠金额</span>
                    <span class="col col-txt">-{{orderInfo.info.promotionAmount | currency: '¥'}}</span>
                </p>
                <p class="order-row-cont row">
                    <span class="col col-adaptive col-tit">应付金额</span>
                    <span class="col col-txt">{{orderInfo.info.payAmount | currency: '¥'}}</span>
                </p>
            </div>

            <div class="order-receive-info" ng-if="orderInfo.info.paymentStatus == 1 && orderInfo.info.orderStatus == 3">
                距离自动确认签收还有{{orderInfo.expressInfo.countDownTime}}天时间
            </div>

        </div>
        
    </ion-content>

    <ion-footer-bar class="order-info-footer" 
        ng-show="orderInfo.finishLoading && orderInfo.info.paymentStatus == 0 && orderInfo.info.orderStatus == 1">
        <ul class="row">
            <li class="footer-item col">
                <button class="button button-block button-light" 
                    ng-click="orderInfo.cancle()">取消订单</button>
            </li>
            <li class="footer-item col">
                <button class="button button-block button-primary"
                    ng-click="orderInfo.pay()">立即支付</button>
            </li>
        </ul>
    </ion-footer-bar>

    <ion-footer-bar class="order-info-footer" 
        ng-show="orderInfo.finishLoading && orderInfo.info.paymentStatus == 1 && orderInfo.info.orderStatus == 3">
        <ul class="row">
            <li class="footer-item col">
                <button class="button button-block button-primary"
                    ng-click="orderInfo.confirmReceipt()">确认收货</button>
            </li>
        </ul>
    </ion-footer-bar>

</ion-view>
