<ion-view title="绑定支付宝充值流程" cm-hide-tabs="true">

    <ion-header-bar class="bar bar-header bar-primary disable-user-behavior">
        <div class="buttons buttons-left">
            <span class="left-buttons">
                <button class="button back-button buttons button-clear button header-item" ng-click="goBack()">
                    <i class="icon ion-ios-arrow-left"></i>
                </button>
            </span>
        </div>
        <div class="title title-center header-item">
            充值流程
        </div>
    </ion-header-bar>

    <ion-content class="user-account-bind-pay-panel light-bg">

        <div class="banner-image alipay-banner">
            <div class="banner-btn" ng-click="bind.goAppStore()"></div>
        </div>

        <div class="bind-main">

            <div class="bind-text">
                <i class="iconfont icon-star"></i>绑定支付宝，在“半月谈 APP”里消费更方便更快捷
            </div>

            <div class="bind-title">绑定支付宝，如果设置？</div>

            <div class="step-title">1. 进入App Store，滑动到首页（“精品推荐”页面）底部</div>

            <div class="step-image alipay-step-image-1"></div>

            <div class="step-title">2. 选择“绑定支付宝”</div>

            <div class="step-image alipay-step-image-2"></div>

            <div class="step-title">3. 按要求填写你的Apple ID密码，点击继续</div>

            <div class="step-image alipay-step-image-3"></div>

            <div class="step-title">4. 填写你的支付宝信息，然后点击“完成”</div>

            <div class="step-image alipay-step-image-4"></div>

            <div class="step-title">5. 绑定完成后，回到 半月谈－会员中心－我的帐户，点击你想充值的金额，输入密码即可完成充值。</div>

            <div class="step-image alipay-step-image-5"></div>

            <div class="bind-tips-title">注意事项：</div>

            <div class="bind-tips-text">1. 充值前请确保你的App内购买项目访问权限为“开启”状态（在“设置”－“通用”－“访问权限”中进行设置）；</div>

            <div class="bind-tips-text">2. 请确认你的苹果设备未越狱；</div>

            <div class="bind-tips-text">3. 若绑定不成功，请确认你的支付宝信息填写无误，确认后再次进行绑定；</div>

            <div class="bind-tips-text">4. 绑定支付宝账号时，会验证你的手机号，请按提示填写信息；</div> 

            <div class="bind-tips-text">5. 海外用户如遇充值问题，可以到半月谈微信公众号向我们反馈你的问题，我们会为你解决。</div>

        </div>

    </ion-content>

</ion-view>
