@charset "utf-8";

.audio-main {
    margin: 12px;
    padding: 12px;
    background-color: $stable;
    border: $line-color 1px solid;

    .audio-left {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: $primary-color;
        border-radius: 50%;

        .icon {
            color: $light;
            font-size: 22px;
        }

        .ion-ios-play {
            margin-left: 2px;
        }
    }

    .audio-right {
        margin-left: 65px;

        .audio-title {
            overflow: hidden;
            height: 1.5em;
            margin-bottom: 5px;
            line-height: 1.5em;
            color: $text-color-secondary;
            font-size: 13px;
        }

        .audio-rang {
            position: relative;
            height: 2px;
            margin-bottom: 5px;
        }

        // 进度条
        .range {
            position: absolute;
            top: 0;
            left: 0; 
            width: 100%;
            height: 2px;
            padding: 0;
            background: $energized;
            -webkit-appearance: none !important;

            // 进度滑块
            &::-webkit-slider-thumb {
                width: 12px;
                height: 12px;
                background: #fff;
                border: $energized 1px solid;
                cursor: pointer;
                border-radius: 50%;
                -webkit-appearance: none !important;
            }
        }

        .time-text-line {
            color: $text-color-quiet;
            font-size: 10px;
        }
    }
}
