@charset "utf-8";

// modal弹出框
// -----------------------------------------------------------------------------
.form-view {

    .bar {
        border-bottom: none;
    }

    .logo {
        width: convert-rem(210px);
        height: convert-rem(30px);
        margin: 40px auto;
        background-position: 0;
        background-repeat: no-repeat;
        background-image: url(#{$images-path}/logo.png);
        background-size: convert-rem(210px) auto;
    }

    .form-content {
        padding: 0 25px;
        font-size: 14px;
    }

    .form-content-row {
        margin: 0 0 5px 0;
        padding: 5px 0;
        background: superfine-border-bottom($line-color);
    }

    .row-code {
        padding: 0 15px 0 0;
        margin-right: 5px;
        color: $text-color-quiet;;
        background: superfine-border-right($line-color);
    }

    .row-input {
        padding: 0;

        input {
            width: 100%;
            padding: 8px 5px;
            font-size: 14px;
        }

        input[disabled] {
            background-color: #fff;
        }
    }

    .form-forget-pwd {
        text-align: right;

        .button {
            padding: 0;
            font-size: 14px;
            color: $positive;
        }
    }

    .form-btn {
        margin-bottom: 10px;

        .button {
            min-height: 34px;
            margin: 0;
            font-size: 16px;
        }
    }

    .form-code {
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            top: 10px;
            width: 1px;
            height: 18px;
            background: superfine-border-left($line-color);
            content: '';
        }

        .button {
            font-size: 14px;
            color: $positive;
        }
    }

    .form-btn {
        margin-top: 30px;
    }
}
