@charset "utf-8";

.inform {
    font-size: $font-size-small;
    line-height: $line-height-small;

    .icon {
        font-size: 1.4em;
        vertical-align: middle;
        display: inline-block;
        @include position(relative, -1px null null);
    }

    &.warning {
        .icon {
            @extend .ion-ios-information-outline;
            color: map-get(map-get($color-maps, 'warning'), 'color');

            &:before {
                font-weight: 700;
            }
        }
    }
}
