@charset "utf-8";

.bar.bar-header {

    &.bar-primary {
        color: $nav-bar-color;
        background: superfine-border-bottom($nav-bar-border-color);
        background-color: $nav-bar-background-color;

        .button {
            color: $nav-bar-color;

            &.button-clear {
                font-size: $font-size-base;
            }
        }

        .title {
            color: $nav-bar-color;
            font-size: $font-size-large;
        }
    }

    .right-buttons {

        .iconfont {
            font-size: 24px;
        }

        .bar-button-text {
            font-size: 14px;
        }

        .icon-fenxiang {
            font-size: 18px;
        }
    }

    &.bar-light {
        background-image: none;
    }

    .button.back-button {
        width: 34px;
        margin-right: 0;
        text-align: left;
    }

    .icon {
        min-width: 34px;
        min-height: 34px;
    }

    .ion-ios-arrow-left,
    .ion-android-arrow-down {

        &:before {
            font-size: 24px !important;
        }
    }

    &[cm-search-bar] {
        .button.back-button {
            margin-right: -10px;
        }
    }

    .search-text,
    .search-input {
        box-sizing: border-box;
        padding: 5px 5px 5px 25px;
        margin-top: 4px;
        width: 100%;
        height: 25px;
        line-height: 15px;
        color: $dark;
        font-size: $font-size-mini;
        background-color: #eaebed;
        border-radius: 3px;
        -webkit-appearance: none;
    }

    .search-input {

        &::-webkit-input-placeholder {
            color: $dark;
        }
        &:-moz-placeholder {
            color: $dark;
        }
        &::-moz-placeholder {
            color: $dark;
        }
        &:-ms-input-placeholder {
            color: $dark;
        }
    }

    .col-header-button {
        padding: 0;
    }

    .col-header-input {
        position: relative;
        padding: 0 2px;

        &:before {
            position: absolute;
            left: 8px;
            top: 10px;
            width: 12px;
            height: 12px;
            background-image: url(#{$images-path}/icon-search-black@2x.png);
            background-size: 12px auto;
            content: '';
        }
    }

    .buttons .previous-title {
        display: none;
    }

    .button-right-share {
        right: 0;
        top: 2px;
        bottom: auto;
    }
}
